

.link {
  text-decoration: none;
  transition: .5s linear;
}
  
.link:hover {
  margin-top: 5px;
  border-bottom: #fff 1px solid;
  opacity: 0.3;
    
}
  
.list {
  margin: 0;
  padding: 0;
	list-style-type: none;
}

.page {
	margin: 0 auto;
	/*max-width: 1000px;*/
	font-family: 'inter';
}

.header {
	max-width: 736px;
	margin: 0 auto;
	padding: 22px 0 20px 0;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	max-width: 112px;
	height: 37px;
	margin-right: 37px;
}

.header__list {
	display: flex;
}

.header__items {
	margin-right: 45px;
}

.header__items:last-child {
	margin-right: 0;
}

.header__list-link {

}

.header__list-link:visited {
	color: inherit;
}

.container {
  max-width: 736px;
  margin: 0 auto;
}

.hero {
	max-width: 736px;
	margin: 0 auto;
	display: flex;
	padding-top: 63px;
}

.hero__text-col {
	margin-right: 44px;
	max-width: 504px;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0 0 13px 0;
	padding: 0;
	font-weight: 800;
	font-size: 34px;
	line-height: 41.15px;
}

.hero__text-up {
	margin: 0 0 30px 0;
	padding: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 17.4px;
}
.pic__right {
	max-width: 512px;
	height: 512px;
	margin-right: 250px;
}


.footer {
	max-width: 100%;
	background-color: #000000;
}

.footer__wrapper {
	max-width: 736px;
	margin: 0 auto;
	padding: 22px 0 21px 0;
	display: flex;
	justify-content: space-between;
}

.footer__cake {
	color: rgb(0, 0, 0);
	max-width: 19%;
	font-weight: 400;
	font-size: 12px;
	line-height: 13.4px;
}

.footer__list {
	display: flex;
}

.footer__items {
	margin-right: 6px;
}

.footer__items:last-child {
	margin: 0;
}

.footer__img-social {
	margin: 0;
	width: 16px;
	height: 16px;
}
